.bullet__item{
  max-width: 300px;
  margin: 0 auto;
}

.bullet__item--link{
  text-decoration: none;
}

.bullet__item--image{
  vertical-align: bottom;
}
.bullet__item--title{
  /* color: crimson; */
  font-size: 14px;
  text-align: center;
}

/* @media screen and (min-width: 760px){
  .bullet__item{}
  .bullet__item--image{}

} */

